body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }
  
.App {
	padding: 20px;
	min-height: 100vh;
	background-color: #282c34;
	color: white;
  }
  
  .App-header {
	text-align: center;
	font-size: calc(10px + 2vmin);
	
  }
  
  .layout{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
  }
  .login-container {
	width: 50%;
	margin: 0 25%;
  }
  
  input, textarea {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	font-size: 0.8rem;
  }
  button {
	color: #444;
	background-color: #f3f3f3;
	padding: 5px 10px;
	border-radius: 2px;
	font-weight: bold;
	font-size: 0.8rem;
	outline: none;
  }
  button:disabled {
	color: #f3f3f3;
	background-color: #444;
	cursor: not-allowed;
  }
  
  .orange {
	color: orange;
  }
  .purple {
	color: purple;
  }
  .rate-container {
	margin-top: 20px;
	border-top: 2px solid purple;
  }
  .rate-container .fa-star {
	font-size: 1.8rem;
	cursor: pointer;
  }
  .movie-item {
	display: grid;
	grid-template-columns: 1fr auto auto;
  }
  .movie-item svg {
	font-size: 1.2rem;
	margin: 16px 5px;
  }
  .fa-trash {
	color: crimson;
  }
  h1 {
	color: orange;
  }
  h1 .fa-film {
	color: white;
	transform: rotate(30deg);
  }
  .fa-sign-out-alt {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	font-size: 1.5rem;
  }