<script>
    import { createEventDispatcher } from 'svelte';
    let dispatch = createEventDispatcher();
    
    export let movies;

    const selectMovie = movie => {
        dispatch('selectMovie', {
            movie: movie
        });
    }
</script>

{#each movies as movie (movie.id)}
<div on:click={selectMovie(movie)}>
    {movie.title}
</div>
{/each}

