<script>
    import { createEventDispatcher } from 'svelte';
    let dispatch = createEventDispatcher();
    import instance from '../util/fetcher';

    export let selectedMovie = null;
    const arrayPlaceholder = Array(5);
    let highlighted = -1;
    const highlightRate = (high) => {
        highlighted = high;
    }

    const rateMovie = async (rate) => {
        await instance.post(`movies/${selectedMovie.id}/rate_movie/`, {stars: rate})
        .then((res) => {
            getMovieDetail();
        })
        .catch((error) => {
            if (error.response) {
                console.log(error.response.data);
            } else {
                console.log(error.message);
            }
        });
    }

    const getMovieDetail = async () => {
        await instance.get(`movies/${selectedMovie.id}`)
		.then((res) => {
			dispatch('updateMovie', res.data)
		})
		.catch((error) => {
			if (error.response) {
				console.log(error.response.data);
			} else {
				console.log(error.message);
			}
		});
    }
    
    
</script>

{#if selectedMovie }
    <div>
        <h3>{selectedMovie.title}</h3>
        <i class:orange-star="{selectedMovie.avg_rating > 0}" class="fa fa-star" aria-hidden="true"></i>
        <i class:orange-star="{selectedMovie.avg_rating > 1}" class="fa fa-star" aria-hidden="true"></i>
        <i class:orange-star="{selectedMovie.avg_rating > 2}" class="fa fa-star" aria-hidden="true"></i>
        <i class:orange-star="{selectedMovie.avg_rating > 3}" class="fa fa-star" aria-hidden="true"></i>
        <i class:orange-star="{selectedMovie.avg_rating > 4}" class="fa fa-star" aria-hidden="true"></i>
        ({selectedMovie.no_of_ratings})
        <p>{selectedMovie.description}</p>

        <div class="rate-container">
            <h2>Rate it !!!</h2>
            {#each arrayPlaceholder as item, i (i)}
                <i 
                    class:purple-star="{highlighted > i - 1}" 
                    on:mouseover={() => highlightRate(i)}
                    on:mouseout={() => highlightRate(-1)}
                    on:click={() => rateMovie(i + 1)}
                    class="fa fa-star" 
                    aria-hidden="true"></i>
            {/each}
        </div>
    </div>
{:else}
    <h3>Select a movie</h3>
{/if}

<style>
    .orange-star {
        color: orange;
    }

    .purple-star {
        color: purple;
    }
</style>
