<script>
	import { onMount } from 'svelte';
	import MovieList from './components/MovieList.svelte';
	import MovieDetails from './components/MovieDetails.svelte';
	import instance from './util/fetcher';

	let state = {
		movies: [],
		selectedMovie: null
	}

	let {movies, selectedMovie} = state;

	onMount(async () => {
		await instance.get('movies/')
		.then((res) => {
			movies = [...movies, ...res.data]
		})
		.catch((error) => {
			if (error.response) {
				console.log(error.response.data);
			} else {
				console.log(error.message);
			}
		});
		
	})

	const selectMovie = e => {
		selectedMovie = e.detail.movie;
	}
	
	const updateMovie = e => {
		//console.log(e.detail);
		movies = movies.map(item => {
			if (item.id === e.detail.id) {
				return e.detail;
			}
			return item;
		})

		selectedMovie = e.detail;
	}
	
</script>

<div class="App">
	<h1>Movie Rater</h1>
	<div class="layout">
		<div>
		<MovieList on:selectMovie={selectMovie} {movies} />
		</div>
		<MovieDetails on:updateMovie={updateMovie} {selectedMovie} />
	</div>
	
</div>